.expert-container{
    width: 92%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    transition: .1s;
    background-color: rgba(187, 67, 97, 0.311);
    /* border-bottom: 1px solid rgb(177, 74, 19);
    border-left: 1px solid rgb(177, 74, 19);
    border-right: 1px solid rgb(177, 74, 19); */
    border-radius: 15px;
   
}

.bold{
    font-weight: 500;
}
.expert-information{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: justify;
    
    /* border-bottom: 1px solid rgb(177, 74, 19);
    border-left: 1px solid rgb(177, 74, 19);
    border-right: 1px solid rgb(177, 74, 19); */
    
}

.expert-container:hover{
    transform: scale(1.05);
}
.img-expert{
    
    width: 100%;
    height: 400px;
    /* border-radius: 10px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}