/* .slider-hr{
    padding: 20px;
    margin-left: 20px;
} */
/* .home-container{
    background-color: aqua;
} */
.view-all{
    /* border: 2px solid rgb(86, 22, 22); */
    text-align: center;
    align-items: center;
    /* padding: 0%; */
    cursor: pointer;

    /* text-decoration: none; */
}
/* .button-view-all{
    padding: 100%;
    height: 100%;
} */